.schedule-body > tr:hover {
  background-color: orange;
}
/* Оформление таблицы */
.schedule {
  border-collapse: collapse;
}
.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #212121;
}

p {
  background-color: rgba(250, 0,240,10%);
}
div{
  color: pink
}
